
body {
  background-color: #111D25;
  color: #999999;
}

.user-select {
  background-color: #3D505E;
  padding: 5px;
}

#users-list {
  background-color: #3D505E;
  padding: 10px;
  border-radius: 8px;
  margin: 0 5px 5px 5px;
  display: none;
}


.user-select img, #users-list img {
  width: 35px;
  height: 35px;
}

.bg-dark {
  background-color: #1E2A32!important;
}

.navbar-dark .navbar-brand {
  color: #999999;
}

.menu-option {
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 10px;
}

.menu-option.active {
  color: rgb(110, 226, 116);
  border-bottom: 3px solid rgb(83, 248, 92);

}

#chats {
  
}

#contacts {
  display: none;
  background-color: red;
}

.img-chat {
  width: 50px;
  height: 50px;
}

.chat-card {
  display: flex;
  border-bottom: 1px solid #999999;
}

.chat-card .texts {
  flex: 1;
}

